<section class="standard-form prefab-container-form scrollable">
    <fieldset class="prefab-container scrollable">
        {{#if prefabs}}
        <div class="prefab-grid">

            {{#each prefabs}}
            <fieldset class="prefab-card">
                <input class="prefab-input-checkbox" type="radio" name="prefab" id="{{id}}" value="{{id}}" data-id="{{id}}"
                    data-action="selectPrefab" {{checked (eq id ../selectedPrefabId)}}/>
                <label for="{{id}}" class="prefab-label">
                    <div class="preview">
                        {{#if preview}}
                        <img src="{{preview}}" alt="{{name}}" />
                        {{else}}
                        <i class="fa-solid fa-lightbulb"></i>
                        {{/if}}
                    </div>

                    <div class="name">
                        <span>{{name}}</span>
                    </div>

                    {{#if tags}}
                    <div class="tags">
                        {{#each tags}}
                        <input class="tag-input-checkbox" type="checkbox" id="prefab-tag-{{../id}}-{{value}}"
                            data-prefab-id="{{../id}}" data-id="{{value}}" data-action="selectTag" />
                        <label for="prefab-tag-{{../id}}-{{value}}"
                            class="tag-label {{#if (includes @root.activeTags this)}}active{{/if}}"
                            style="--tag-color: {{color}};">
                            <span class="tag-text">{{value}}</span>
                        </label>
                        {{/each}}
                    </div>
                    {{/if}}
                </label>
            </fieldset>
            {{/each}}
        </div>
        {{else}}
        <div>
            <h2>Префабы не найдены</h2>
        </div>
        {{/if}}
    </fieldset>
</section>